anyio
attrs
certifi
charset-normalizer
click
colorama
fastapi
filelock
h11
httptools
huggingface-hub
idna
iniconfig
numpy
packaging
pluggy
py
pydantic
pyparsing
pytest
python-dotenv
PyYAML
regex
requests
sniffio
starlette
tokenizers
tomli
torch
tqdm
transformers
typing_extensions
urllib3
uvicorn
watchfiles
websockets
